.home .hero {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home .hero {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("queen_background.jpg");
  background-size: cover;
  background-position: center;
}

.queen-image {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

blockquote {
  font-style: italic;
  margin-top: 20px;
  font-size: 1.2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
}

.gallery img {
  width: 200px;
  height: 200px;px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: inline;
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}

.article {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article h1 {
  color: #635858;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.article p {
  color: #666;
  text-align: justify;
}