/* General styling for larger screens */
.timeline {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.hero-image {
  max-width: 100%;
  width: 100%;
}

.event {
  display: flex;
  margin-bottom: 40px;
  width: 800px;
}

.home1 .hero {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 50px 0;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  font-size: 2.5rem;
  margin-top: 40px;
  margin-bottom: 10px;
  text-shadow: #333 4px;
}

h2 {
  margin-bottom: 20px;
  color: rgb(202, 202, 235);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

blockquote {
  font-style: italic;
  margin-top: 20px;
  font-size: 1.2rem;
}

.event-date {
  width: 10mm;
  padding: 10mm;
  background-color: #242323;
  color: #ebe8e8;
  text-align: center;
}

.event-content {
  background: linear-gradient(to top, white, black);
  transition: all 0.8s;
  color: #fff;
  flex-grow: 1;
  padding: 10px;
  background-color: #0a0505;
}

.timeline-image {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.timeline-image:hover {
  transform: scale(1.05);
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  .event {
    flex-direction: column;
    width: auto;
  }

  .event-date {
    width: 100%;
    margin-bottom: 10px;
  }

  .event-content {
    width: 100%;
  }

  .timeline-image {
    width: 100%;
    height: auto;
  }
}
